:root {
  --body-color: #f0f4fd;
  --body-color-middle: #282567;
  --purple-color: #5848e1;
  --text-color: #373737;
  --orange-color: #dd9d48;
  --middle-thin-color: #c6c0ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: 20px 0;
  background-color: var(--body-color);
}

.card-container {
  width: 100%;
  min-width: 1000px;
  min-height: 300px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.card-container .card {
  flex: 1;
  max-width: 300px;
  padding: 40px 30px;
  text-align: center;
  border-radius: 15px;
  overflow: hidden;
  background: #ffffff;
  z-index: 1;
  box-shadow: 0px 4px 40px rgba(88, 75, 225, 0.06);
  margin-bottom: 25px !important;
  position: relative;
}
.card-container .card .desc p {
  font-size: 13px;
  font-weight: 200px !important;
}
.card-container .card .img__card .Left,
.card-container .card .img__card .middle,
.card-container .card .img__card .right {
  width: 150px;
}
.card-container .card .img__card .Left {
  filter: drop-shadow(0px 40px 40px #c1eef7);
}
.card-container .card .img__card .middle {
  filter: drop-shadow(0px 40px 48px rgba(0, 0, 0, 0.25));
}
.card-container .card .img__card .Left {
  filter: drop-shadow(0px 40px 40px #e9f0f5);
}

.card-container .card:first-child {
  margin-right: 15px;
}

.card-container.card:last-child {
  margin-left: 15px;
}

.card-container .card.card__middle {
  z-index: 2;
  margin: 0 -30px;
}
.card-container .card.card__middle li {
  color: var(--middle-thin-color);
  font-weight: 300;
}
.card-container .card.card__middle .desc p {
  font-size: 12px;
  font-weight: 200px !important;
}
.card-container .card.card__middle .price {
  color: var(--orange-color);
}
.card-container .card.card__middle .price strong {
  color: var(--orange-color);
}

.card-container .card .card__title {
  font-size: 34px;
  font-weight: bold;
  letter-spacing: 1.4px;
  color: var(--text-color);
}

.card-container .card .price strong {
  font-size: 18px;
}

.card-container .card li {
  font-size: 14px;
  list-style: none;
  color: var(--text-color);
  letter-spacing: 0.5px;
  margin-bottom: 10px;
  text-align: left;
}
.card-container .card li i {
  padding: 0.5rem;
  font-size: 1.2rem;
  color: var(--purple-color);
}

.card-container .card ul {
  margin-top: 10px;
}

.card-container .card .btn__choose {
  display: inline-block;
  color: #ffffff;
  background: var(--purple-color);
  padding: 15px 15px;
  text-decoration: none;
  border-radius: 0.8rem;
  letter-spacing: 0.5px;
  margin-top: 40px;
}

.btn__choose {
  font-weight: 300;
}

.card-container .card.card__middle {
  background: var(--body-color-middle);
  box-shadow: 0px 4px 55px rgba(0, 0, 0, 0.22);
}
.card-container .card.card__middle * {
  color: #ffffff;
}
.card-container .card.card__middle .btn__choose {
  background: var(--orange-color);
  color: #503615;
}

.card__middle:hover {
  transform: scale(1.1);
  transition: 0.5;
  box-shadow: -7 27px 115px rgb(43, 37, 103);
}

@media only screen and (max-width: 767px) {
  .card-container {
    flex-direction: column !important;
    width: 100%;
  }
  .card-container .card {
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}/*# sourceMappingURL=mystyle.css.map */